/* .title-container{
    position: relative;
    text-align: center;
}
.title{
    text-align: center;
    position: relative;
    font-size: 4.5vw;
    z-index: 1;
}

.title-img{
    position: absolute;
    text-align: center;
    top: 30px;
    left: 50%;
    width: 150px;
} */